*{
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: CozetteVector;
  font-size: 16;
}

.hypr-bar {
	padding: 5px;
	min-height: 10px;
	border: 2px solid #ebdbb2;
	background: #282828;
	color: #ebdbb2;
}

.xmonad-bar {
	padding: 5px;
	min-height: 10px;
	border: 2px solid #ebdbb2;
	background: #282828;
	color: #ebdbb2;
}
tooltip {
	padding: 5px;
	border-radius: 0px;
	color: #ebdbb2;
	border: 1px solid #ebdbb2;
	background-color: #282828;
}

.systray {
	padding: 2px 2px 2px;
	border-radius: 0px;
	color: #ebdbb2;
	background-color: #282828;

	menu {
		background-color: #282828;
		border: 2px solid #ebdbb2;
		color: #ebdbb2;
	}
	menuitem {
		background-color: #282828;
		border: 1px solid #ebdbb2;
		padding: 5px 1px;
	}
	menuitem:hover {
		background-color: #ebdbb2;
		color: #282828;
	}
}

.w0, .w01, .w02, .w03, .w04, .w05, .w06, .w07, .w08, .w09, .w011, .w022, .w033, .w044, .w055, .w066, .w077, .w088, .w099 {
  padding: 3px 5px;
  box-shadow: inset 0 -2px transparent;
	border: 1px solid #282828;
}

/* Unoccupied */
.w0 {
  color: #282828;
}

/* Occupied */
.w01, .w02, .w03, .w04, .w05, .w06, .w07, .w08, .w09 {
  color: #ebdbb2;
  box-shadow: inset 0 -3px #ebdbb2;
}

/* Focused */
.w011, .w022, .w033, .w044, .w055, .w066, .w077, .w088, .w099 {
  color: #282828;
  background-color: #ebdbb2;
  box-shadow: inset 0 -3px #282828;
  border: 2px solid #ebdbb2;
}

.workspace {
padding: 0 0px;
}

.workspace button:hover {
  // box-shadow: inset 0 -3px #ebdbb2;
  border: 2px solid #ebdbb2;
}

.title {
  color: #ebdbb2;
  background-color: #282828;
  border: 1px solid #ebdbb2;

}

.calendar {
  color: #ebdbb2;
  background-color: #282828;
  border: 2px solid #ebdbb2;
}

.cpu {
  color: #ebdbb2;
  background-color: #282828;
}
.mem {
  color: #ebdbb2;
  background-color: #282828;
}

.time {
  color: #ebdbb2;
  background-color: #282828;
}
