@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --color-bg: #282A36;
    --color-fg: #DFDFDF;
    --color-link: #DFDFDF;
    --color-link-visited: #DFDFDF;
    --color-link-hover: #FF79C6 ;
}

html, body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: "Cascadia Code";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.vapor {
  border-radius: 12px;
  /* border-style: solid; */
  border-color: #ffffff;

}

.container {
  display: grid;
  grid-template-columns: 1fr 460px 600px 1fr;
  grid-template-areas:
    ". left right .";
  column-gap: 80px;
  justify-items: center;
  align-items: center;
  min-height: 100%;
}

.left-container {
  grid-area: left;
  aspect-ratio: 1/1;
}

.right-container {
  grid-area: right;
  height: 25%;
  width: 100%;
}

.gif img {
  max-width: 100%;
  max-height: 100%;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  padding-top: 60px;
}

body:not(.search) .head-search {
	display: none;
}
body.search .head {
	display: none;
}
@media only screen and (max-width: 900px) {
	body.search .right-container {
		margin-top:  127px;
	}
}
@media only screen and (max-width: 500px) {
	body.search .right-container {
		margin-top: 0;
	}
}
@media only screen and (max-width: 800px) {
	body.search .right-container {
		transition: .25s margin ease-in-out;
	}
}

.head, .head-search {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 40px;
	-webkit-user-select: none;
	user-select: none;
}
.category {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.bookmarks {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 20px;
}

.title {
  font-size: 20px;
}

li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px
}

a:link {
  text-decoration: none;
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#Date {

  font-family: 'Bebas Neue';
  font-size: 40px;
}

/* Search */
body:not(.textarea) #search #search-textarea {
	display: none;
}
body.search.textarea #search #search-input {
	display: none;
}
#search {
  display: flex;
  position: relative;
  margin: 0 auto 90px;
  background: transparent;
  width: 100%;
  overflow: hidden;
}

#search p {
	display: flex;
	position: relative;
	margin: 0 20px;
	padding: 0;
	width: 100%;
}
@media only screen and (min-width: 901px) {
	#search p {
		margin: 0 20%;
	}
}
@media only screen and (max-width: 900px) {
	#search {
		margin: 30px 0 12px;
	}
}

#search .search-field {
	background: none;
	border: none;
	color: var(--color-fg);
	font-family: 'Ubuntu';
	font-size: 40px;
	line-height: 50px;
	padding: 0;
	margin: 0;
	outline: none;
	order: 1;
	overflow: hidden;
	z-index: 1;
}

#search input[type=text] {
	position: relative;
	height: 40px;
	left: -20px;
	text-indent: 3px;
}

#search textarea {
	width: 100%;
	height: calc(50px * 2 + 5px);
	position: absolute;
	left: 0;
	top: 0;
	resize: none;
	text-indent: 198px;
}

#search p > span.prefix {
	flex: 0 0 auto;
}

input[type=text]:focus ~ span.blinking,
textarea:focus ~ span.blinking {
	opacity: 0;
	visibility: hidden;
}

.search:focus {
  outline: none;
}

Footer

