# Gruvbox theme
startup_commands toggle_custom_color

custom_color_contrast                   0.3
custom_color_mode_empty_background_color #1d2021
page_separator_color                    #1d2021
page_separator_width                    10
custom_background_color                 #282828
custom_text_color                       #fbf1c7
search_highlight_color                  #7ec16e
status_bar_color                        #427b58
status_bar_text_color                   #fbf1c7
dark_mode_background_color #1d2021
dark_mode_contrast 0.7
highlight_color_a #fabd2f
highlight_color_b #83a598
highlight_color_c #b8bb26
text_highlight_color #d79921
visual_mark_color 0.168 0.168 0.168 0.5

ruler_mode 1
ruler_padding 1.0